/* Global variables */
:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #6A7B8B; 
    --secondary-bg-2-color: #5C5B5B; 
    --secondary-text-color: #F1F3F5; 
    --font-family: 'Avenir Next', 'Montserrat', sans-serif;
}

/* Body styles */
body {
    font-family: var(--font-family);
    width: 100%;
    background-color: var(--primary-bg-color);
    margin: 0;
    color: var(--secondary-bg-2-color)
}

/* Main logo */
main img {
    width: 15%;
}

main div {
    text-align: center;
}

/* h2 */
section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2.35rem;
}

section p {
    text-align: left;
}

/* Main contact section */
.contact-main {
    margin: 0 auto;
    width: 60%;
}

.contact-main section p {
    margin: 10% 0;
}

.contact-main section span {
    font-size: 1.25rem;
}

.contact-main img {
    width: 100%;
}

.contact-main section:last-child {
    margin: 5% 0;
}

/* Media queries */
@media (max-width: 700px) {
    section h2 {
        font-size: 1.5rem;
    }

    .contact-main section span {
        font-size: 1.25rem;
    }
}

@media (max-width: 481px) {
    .contact-main section span {
        font-size: 1rem;
    }
}